ul {
    list-style-type: none;
    float: right;
}

ul li {
    display: inline-block;
}

ul li button {
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 2px;
    background-color: blue;
    color: white;
}

.dScript {
    font-family: 'Dancing Script';
    font-size: 50px;
    font-weight: bolder;
    color: blue;
}

.dScriptCaption {
    font-family: 'Dancing Script';
    font-size: 20px;
}

.content {
    position: absolute;
    top: 40%;
    left: 42%;
}

.splButtons {
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 2px;
    margin: 10px;
    background-color: rgb(209, 193, 48);
    font-weight: 700;
}