* {
    margin: 1px;
    padding: 1px;
}

.main {
    margin: auto;
}

body {
    background-image: url('../images/background.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}