.headName {
    font-family: 'Dancing Script';
    padding: 20px 0px 0px 0px;
    font-size: 45px;
}

.pencilBtn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: 0px;
    float: right;
}

.likeBtn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: 0px;
}

.mainPost {
    padding: 30px 60px 0px 60px;
}

.header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Advent Pro';
    font-size: 45px;
    font-stretch: wider;
    margin-left: auto;
    margin-right: auto;
}

.description {
    padding: 20px 0px;
    text-align: justify;
}

.anime {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.anime:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.textareaInput {
    border: 1px;
    border-color: gray;
    border-style: solid;
    padding-left: 10px;
    padding-top: 3px;
    margin-top: 30px;
}